extends layout

block content  
    each doc, i in data
        .card.bg-info(style="margin: 1.5rem")
            .card-header.text-center.bg-secondary.text-white
                h5 #[strong=doc.food.name]
                    head
                        meta(charset="UTF-8")
                        meta(name="viewport", content="width=device-width, initial-scale=1.0")
                        title Document
                    body.food
            .card-body.bg-dark.text-light
                ul.list-group.list-group-flush.bg-dark
                    li.list-group-item.bg-dark #[i.material-icons access_time] #{doc.elapsed}
                    li.list-group-item.bg-dark #[i.material-icons room] #{doc.location.input}
                    li.list-group-item.bg-dark #[i.material-icons contacts] #{doc.preferredcontact}
                    li.list-group-item.bg-dark  From: #{doc.name}
                    if(doc.food.perishable)
                                    li.list-group-item.bg-dark #[i.material-icons local_dining] Perishable
                    else
                        li.list-group-item.bg-dark #[i.material-icons local_dining] Non-perishable

            .card-footer.bg-dark.text-light.text-center
                button.btn.btn-light(type='button' data-toggle='modal' data-target=('#info-modal' + i)) Get More Information
        .modal.fade(id= ('info-modal' + i) role='dialog')
                    .modal-dialog
                        .modal-content
                            .modal-header.text-center
                                h2 About
                                button.close(type='button' data-dismiss='modal') &times;
                            .modal-body 
                                p #{doc.food.cuisine} Food : #{doc.food.name}
                                if(doc.food.dietary.halal)
                                    p Halal
                                
                                if(doc.food.dietary.kosher)
                                    p Kosher
                                
                                if(doc.food.dietary.vegan)
                                    p Vegan
                                
                                if(doc.food.dietary.vegetarian)
                                    p Vegetarian

                                if(doc.food.dietary.perishable)
                                    p Perishable
                                else
                                    p Non-Perishable
                                
                            .modal-footer
                                button.btn.btn-primary(type='button' data-dismiss='modal') Close
    else
        h1 No data to display

